// ======Raleway==========================
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
  font-weight: 400;
}

// ======Roboto=========================
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto.woff2") format("woff2");
  font-weight: 400;
}

// ======Poppins=============================
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Italic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype"),
    url("../fonts/Poppins/Poppins-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
