@use "@assets/style/utils/variables.scss" as *;
.background-top {
  position: relative;

  &__img {
    height: 100%;
    width: 100%;

    object-fit: cover;

    @media (min-width: 569px) {
      min-height: 200px;
      object-position: 30% top;
    }
  }

  &__container {
    color: $text-light;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}
